*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class*="col-"]{
		animation: clock 5s linear;
}

@keyframes clock {
		from {
				-webkit-transform: scale(.5);
		}
		to {
				-webkit-transform: scale(1);
		}
}

.color-1{
    background-color: #0c7556;
}

.color-2{
    background-color: #06ded3;
}

.color-3{
    background-color: #0bb5ad;
}

.color-4{
    background-color: #16514d;
}

.color-5{
    background-color: #12786a;
}

.color-6{
    background-color: #9c4617;
}

.color-7{
    background-color: #733617;
}

.color-8{
    background-color: #c45518;
}
