*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-1{
    background-color: #0c7556;
}

.color-2{
    background-color: #06ded3;
}

.color-3{
    background-color: #0bb5ad;
}
